# Credentials
aws_credentials.json
openai_key.json
*.env

# Python
__pycache__/
venv/
*.py[cod]
.ipynb_checkpoints/

# Spark/Hadoop
spark-warehouse/
metastore_db/
spark_tables_metadata.json

smartspark.egg-info/*